
.scroll-wrapper {
  overflow: hidden !important;
}
.sidebar {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.dot-track {
  position: absolute;
  top: 0;
  right: 10px;
  width: 16px;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #222;
  border: 1px solid #444;
  transition: all 0.3s ease;
  position: absolute;
}
.dot.active {
  background-color: #ff3333;
  box-shadow: 0 0 8px #f33;
  transform: scale(1.1);
}
