.sidebar {
  width: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.logo-label {
  font-size: 10px;
  color: white;
}

.folder {
  height: 45px;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}